<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anúncio Webmotors</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/popper")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="#">Anúncios Webmotors</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                @Html.ActionLink("Página inicial", "Index", "Anuncio", new { area = "" }, new { @class = "nav-item nav-link", @href = "#" })
                @Html.ActionLink("Criar anúncio", "Create", "Anuncio", new { area = "" }, new { @class = "nav-item nav-link", @href = "#" })
            </div>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
    </div>

    <nav class="navbar fixed-bottom navbar-light bg-light d-flex justify-content-center">
        <div class="nav-item">&copy; @DateTime.Now.Year - Teste Webmotors - Thiago Nogueira Martins</div>
    </nav>
</body>
</html>
